{% extends  'Home_base.html' %}
{% load  staticfiles %}

{% block css %}
      <style>
    label, input { display:block; }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    h1 { font-size: 1.2em; margin: .6em 0; }
    div#users-contain { width: 350px; margin: 20px 0; }
    div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
    div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }
  </style>
{% endblock %}

{% block jsscript %}

<script type="text/javascript">
     $(document).on('click','.btn_submit',function(){
        Search();
});
    //$('#btn_submit').click(function(){
//      //  debugger;
   //     Search();
    //    debugger;
  //    {)
    function Search(){
    var keywords = $('#search_keywords').val(),

        request_url = '';
    if(keywords == ""){
        return
    }else {
        request_url = "/qqhome/upfiles?keywords="+keywords
    }
    window.location.href = request_url
    }



</script>



{% endblock %}

{% block content %}
<div class="gform full">
    <div id="right_content" class="am-g am-g-collapse ">
        <div class="am-panel">
            <div class="am-panel am-panel-default">
                <div class="am-panel-hd am-cf">
                    <h3 class="am-panel-title">
                        <span class="am-icon am-icon-tasks">文件记录</span>
                    </h3>
                    <div class="am-text-right"></div>
                </div>
                <div style="margin-right: 28px;" class="am-form-group am-margin-top-sm" id="searchInfo"></div>
                <div id="fm_content"  class="am-form am-form-horizontal" >
                    <div id="content_container" class="am-margin-top">
                            <div id="searchInfoTip" class="am-form-group">
                                <label class="am-form-label am-u-sm-1" >班级筛选：</label>
                                <div class="am-u-sm-8 am-u-end" style="width: 200px;">
                                    <select id="classInfoId" name="classInfoId">
                                        <option id=""  value="">—— 全部 ——</option>
                                        <option id=""  value="">2017</option>
                                        <option  id=""  value="">2018</option>

                                    </select>
                                     <div id="SearchKey">
                                         <input  id= 'search_keywords' type="text" name="name" />
{#                                         <button>搜索记录</button>#}
                                         <button type="submit" class="btn_submit"> 查询 </button>
                                     </div>
                                 </div>
                            </div>
                    </div>
                </div>
            </div>

                <div id = 'uploads_ajax' >

                     <form method="post" action="/qqhome/upfiles/" enctype="multipart/form-data" >
      {% csrf_token %}

      <input type="file" name="file_url" id="file_url" value="file_url" class="text ui-widget-content ui-corner-all" >
      <input  id='submit1' type="submit" tabindex="-1" value="上传文件" style="float:right">

                    </form>

                </div>

                <div id="table_html" >
                    <input type="hidden" name="type" value="" />
                    <p>总计：<span style="color: red; font-size: 20px">{{ filecounts }}</span></p>
                    {% csrf_token %}
                    <table id="table_info" class="am-table am-text-center">
                        <thead>
                            <tr>
                                <th style="width: 5%" class="am-text-center">序号</th>
                                <th style="width: 20%" class="am-text-center">文件名称</th>
                                <th style="width: 20%" class="am-text-center">文件时间</th>
                                 <th style="width: 20%" class="am-text-center">是否分析</th>
                                <th style="width: 20%" class="am-text-center">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                             {% for content in  all_files.object_list %}
                                <tr >
                                    <td class="am-text-center" > {{ forloop.counter }}</td>
                                     <td class="am-text-center">{{ content.filename }}</td>
                                     <td class="am-text-center">{{ content.uptime }}</td>
                                    <td class="am-text-center" >{{ content.get_isparser_display }}</td>
                                    <td class="am-text-center"><button class="parserbutton" data-id="{{ content.id }}" data-isparser="{{ content.get_isparser_display }}">分析文件</button>{% csrf_token %}</td>
                                </tr>
                             {% endfor %}
                             {% ifequal contentslen 0 %}
                             <tr>
                                    <td colspan="6">
                                        <div class="am-text-center">暂无数据</div>
                                    </td>
                             </tr>
                            {% endifequal %}
                        </tbody>
                    </table>
                     {% load i18n %}
                    <div class="pagination ajax" >
                    <ul class="pagelist" >
                      {# 上一页 #}
                                    {%  if all_files.has_previous %}
                                    <li class="long" ><a href="?{{ all_files.previous_page_number.querystring }}" class="prev">上一页</a></li>
                                    {% endif %}
                     {#  中间页码 #}
                                    {% for page in all_files.pages %}

                                        {% if page %}
                                            {% ifequal page all_files.number %}
                                                {#{{ all_orgs.number }}  该表示是前台页面中选中的page的页码 #}
                                                <li class="active"><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                                            {% else %}
                                                <li ><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                                            {% endifequal %}
                                        {% else %}
                                                <li class="none" ><a href="">...</a></li>
                                        {% endif %}
                                 {% endfor %}

                    {#  下一页  #}
                                    {% if all_files.has_next %}
                                    <li class="long"><a href="?{{ all_files.next_page_number.querystring }}">下一页</a></li>
                                    {% endif %}
                    </ul>
                    </div>
                </div>
            </div>
        </div>
</div>

{% endblock %}

{% block footerscript %}
    <script type="application/javascript">


    $('.parserbutton').on('click', function(){
        debugger;
{#        var id = $(this).parent("tr").attr("data-id");#}
        var id = $(this).data("id");
{#        var id =  $("#table_info tr:eq(1) td:nth-child(3)").html("value");#}
       // var comments = $(this).("#isparser").val();
{#        var ispar = $(this).parent("tr first").data("isparser");#}
        var ispar = $(this).data("isparser");

        if(ispar == "Yes"){
            alert("您已经分析过了");
            return
        }
        $.ajax({
            cache: false,
            type: "POST",
            url:"{% url 'qqhome:parser_comment' %}",
            data:{"file_id":id},
            async: true,
            beforeSend:function(xhr, settings){
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
            success: function(data) {
                if(data.status == 'fail'){
                        alert(data.msg);
                        window.location.href="\\qqhome\\upfiles";
                }else if(data.status == 'success'){
                    alert(data.msg);
                    window.location.reload();    //刷新当前页面.
                }
                },
        });
});
</script>
{% endblock %}